stages:
  - build

.build: &build
  stage: build
  script:
    - opam list | grep coq
    - make -j$(nproc)
  cache:
    key: "$CI_JOB_NAME"
    paths:
      - "**/*.glob"
      - "**/*.vo*"
      - "**/.*.aux"
      - ".*.cache"
      - "_build"

coq-8.12: {<<: *build, image: "skeuchel/coq:8.12"}
coq-8.13: {<<: *build, image: "skeuchel/coq:8.13"}
