stages:
  - build
  - diff

.build: &build
  stage: build
  script:
    - opam list | grep coq
    - make Makefile.coq
    - make -j$(nproc) -f Makefile.coq pretty-timed
  cache:
    key: "$CI_JOB_NAME"
    paths:
      - "**/*.glob"
      - "**/*.vo*"
      - "**/.*.aux"
      - ".*.cache"
      - "_build"

8.17.1_iris-4.1.0_equations-1.3:   {<<: *build, image: "ghcr.io/katamaran-project/coq:8.17.1_iris-4.1.0_equations-1.3"}
8.18.0_iris-4.1.0_equations-1.3:   {<<: *build, image: "ghcr.io/katamaran-project/coq:8.18.0_iris-4.1.0_equations-1.3"}
#dev:   {<<: *build, image: "ghcr.io/katamaran-project/coq:dev"}

pretty-timed-diff:
  stage: diff
  when: manual
  image: "ghcr.io/katamaran-project/coq:8.18.0_iris-4.1.0_equations-1.3"
  script:
    - env
    - make clean && rm -f time-of-build*.log
    - make -j2 make-pretty-timed-after
    - git reset --hard "$CI_COMMIT_BEFORE_SHA"
    - make clean
    - make -j2 make-pretty-timed-before
    - make print-pretty-timed-diff
