version: 2.1

defaults: &defaults
  steps:
    - checkout
    - run:
        name: Build project
        command: eval $(opam env) && opam list && make Makefile.coq && make -j2 -f Makefile.coq pretty-timed
        no_output_timeout: 1200
  resource_class: medium+

jobs:
  coq-8-12: {<<: *defaults, docker: [{image: "ghcr.io/katamaran-project/coq:8.12.2_iris-3.4.0_equations-1.2.4"}]}
  coq-8-13: {<<: *defaults, docker: [{image: "ghcr.io/katamaran-project/coq:8.13.2_iris-3.4.0_equations-1.3"}]}
  # coq-8-12: {<<: *defaults, docker: [{image: "ghcr.io/katamaran-project/coq:8.12.2_iris-3.5.0_equations-1.2.4"}]}
  # coq-8-13: {<<: *defaults, docker: [{image: "ghcr.io/katamaran-project/coq:8.13.2_iris-3.5.0_equations-1.3"}]}
  # coq-8-14: {<<: *defaults, docker: [{image: "ghcr.io/katamaran-project/coq:8.14.1_iris-3.5.0_equations-1.3"}]}

workflows:
  version: 2
  build:
    jobs:
      - "coq-8-12"
      - "coq-8-13"
      # - "coq-8-14"
