version: 2.1

defaults: &defaults
  steps:
    - checkout
    - run:
        name: Build project
        command: eval $(opam env) && opam list && dune build -j2
        no_output_timeout: 1200

jobs:
  coq-8-12: {<<: *defaults, docker: [{image: "skeuchel/coq:8.12"}]}
  coq-8-13: {<<: *defaults, docker: [{image: "skeuchel/coq:8.13"}]}

workflows:
  version: 2
  build:
    jobs:
      - "coq-8-12"
      - "coq-8-13"
