name: nix
on:
  push:
  pull_request:

jobs:
  build:
    if: github.event_name == 'push' && github.event.pull_request == null
    name: ${{ matrix.rocq }}
    runs-on: [ubuntu-latest]
    strategy:
      fail-fast: false
      matrix:
        rocq: [rocq819,rocq820,rocq900]
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v31
      - uses: cachix/cachix-action@v16
        with:
          name: katamaran
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - name: Build dependencies
        run: nix build --print-out-paths .#${{ matrix.rocq }}-deps | cachix push katamaran
      - name: Build package
        run: nix build -L .#${{ matrix.rocq }}
